.user_info {
	display: grid;
	grid-template-columns: 100px 1fr 1fr;
}

.user_info > .avatar {
	width: 100px;
	height: 100px;
}

.linkList {
	margin-left: 20px;
}

.linkList > li > a {
	display: inline-block;
	color: #025fa0;
}

@media screen and (max-width: 425px) {
	.user_info {
		display: grid;
		grid-template-columns: 100px 1fr;
		grid-template-rows: 1fr 1fr;
	}
}
