.content, .content > .usersList{
	display: grid;
	gap: 20px;
}

.content > .usersList > li{
	height: calc(70vh / 4 - 32px);
}

.content > .pagination{
	display: flex;
	justify-content: space-between;
	width: max-content;
	justify-self: center;
	cursor: pointer;
	/* margin: 5px; */
}

.content > .pagination > li.active,
.content > .pagination > li:hover{
	background-color: #b4b4b4;
}