.content {
  padding: 11px 13px;
  border: 1px #3b3a3a solid;
  border-radius: 10px;
  position: relative;
  overflow-wrap: anywhere;
  max-width: 350px;
}

.content > p {
  padding: 0;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.message > img {
  width: 55px;
  height: 55px;
  border-radius: 40%;
}

.date {
  position: absolute;
  transform: translateY(100%);
  font-size: 0.6rem;
  color: gray;
  width: max-content;
}

.viewed {
  position: absolute;
  transform: translateY(77%);
  font-size: 1rem;
  color: gray;
  width: max-content;
}

.messageSelf {
  flex-direction: row-reverse;
}
.messageElse {
  flex-direction: row;
}

.messageSelf > img {
  margin: 5px 0px 5px 15px;
}
.messageElse > img {
  margin: 5px 15px 5px 0;
}

.dateSelf {
  right: 0;
  bottom: 0;
}
.dateElse,
.viewedSelf {
  left: 0;
  bottom: 0;
}
.viewedElse {
  display: none;
}

@media screen and (max-width: 560px) {
  .message {
    font-size: 0.8rem;
  }
  .content {
    padding: 9px 11px;
  }
}
