.message {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	margin-bottom: 7px;
}

.message > img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin: 5px 0px 5px 15px;
}

.date{
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100px;
	transform: translateY(100%);
	font-size: 0.6rem;
	color: gray;
}