.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* .form input {
  margin: 10px auto;
	width: 200px;
	border: 1px solid black;
} */

.form input,
.form button {
  width: 200px;
  border: 1px solid transparent;
  background-color: #e6e6e6;
  margin: 10px auto;
  padding: 10px;
  border-radius: 20px;
}

.form > div > input::placeholder {
  color: #b3b3b3;
  font-size: 0.8rem;
  opacity: 1; /* Firefox */
}

.form button[type='submit'] {
  position: absolute;
  bottom: -10px;
  right: 12px;
}

.form .close {
  cursor: pointer;
  background-color: rgb(165, 165, 165);
}

.job {
  display: grid;
  align-items: center;
  justify-items: stretch;
  grid-template-columns: 20px 1fr;
}

.job input {
  width: auto;
}
