* {
  margin: 0;
  padding: 3px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  --standard_color: #7f5b5b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  /* border-color: #1995e7; */
  /* border-style: solid; */
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #2f7cc0;
  outline: none;
}

a:focus {
  box-shadow: 0 0 0 4px #399ef7;
  outline: none;
}

input,
select,
button,
textarea {
  border-style: solid;
  border: 0;
}

img {
  max-width: 100%;
}

/* instead you could use margin: 0 auto; on app_wrapper in App.css */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: var(--standard_color);
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.app_wrapper {
  display: grid;
  grid-template-areas:
    'header header'
    'nav main';
  grid-template-columns: 4fr 18fr;
  grid-template-rows: 52px 75vh;
  grid-gap: 20px;
  width: 1000px;
}

.main {
  grid-area: main;
  /* background-color: var(--standard_color); */
}

ul > li > a {
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 1100px) {
  .app_wrapper {
    width: 100%;
    margin: 0;
    grid-template-areas:
      'header header'
      'nav nav'
      'main main';
    grid-template-rows: 52px 1fr;
  }
}

