.posts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.posts > .textarea {
  width: 100%;
}

.posts > .textarea > textarea {
	--size: 1.18rem;
	width: 100%;
	height: 40px;
	border: 1px solid transparent;
	background-color: #e6e6e6;
	padding: 10px;
	border-radius: 20px;
	resize: none;
	font-size: var(--size);
	line-height: var(--size);
	max-height: 140px;
	overflow: hidden auto;
}

.posts > .textarea > textarea::placeholder {
  color: #b3b3b3;
  font-size: 0.8rem;
  opacity: 1; /* Firefox */
}

.posts > button {
  width: 50px;
  font-size: 1.05rem;
  text-align: center;
  padding: 3px;
  margin: 5px;
  cursor: pointer;
}

.warning {
  box-shadow: 0 0 3pt 2pt tomato;
}
