.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 10px 1px 1px;
  background-color: var(--standard_color);
  grid-area: header;
}

.header > img {
  width: 55px;
}

.header > .loginDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.loginDiv > .logAct {
  cursor: pointer;
  padding: auto 10px;
}
