.nav {
  display: grid;
  grid-template-areas: 'ls ul';
  padding: 0;
  position: relative;
  grid-area: nav;
}

.menuButton {
  display: none;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  padding: 5px;
  user-select: none;
  grid-area: butt;
  background-color: var(--standard_color);
}

.leftSide {
  width: 40px;
  background: url('/images/gross.png') no-repeat #000;
  background-size: cover;
  grid-area: ls;
}

.nav > ul {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  background-color: var(--standard_color);
  border-radius: 0 15px 15px 0;
  grid-area: ul;
  z-index: 3;
}

.nav > ul > li {
  min-height: 1.5rem;
  font-size: 1.5rem;
  padding: 0;
  margin: 2px;
}

.nav > ul > li > a:hover,
.active {
  background-color: #584646;
  cursor: pointer;
}

.nav > ul > li > a {
  padding: 6px 13px;
  border-radius: 15px;
  overflow: hidden;
}

.nav li {
  display: block;
}

.nav [hidden] {
  display: none !important;
}

@media screen and (max-width: 1100px) {
  .nav {
    grid-template-areas: 'ul';
  }
  .nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0;
  }
  .nav > ul > li > a {
    padding: 5px 2.5vw;
  }
  .leftSide {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .nav {
    border-radius: 0;
    grid-template-areas:
      'butt'
      'ul';
  }
  .nav > ul {
    flex-direction: column;
    align-self: stretch;
    position: absolute;
    width: 100%;
    background-color: var(--standard_color);
  }
  .nav > ul > li {
    text-align: center;
    width: 50%;
  }
  .hidden {
    display: none;
  }
  .menuButton {
    display: block;
  }
}
