* {
  margin: 0;
  padding: 3px;
  box-sizing: border-box;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  border-color: #1995e7;
  outline: none;
  border-style: solid;
}

input,
select,
button,
textarea {
  border-style: solid;
}
html {
  font-size: 16px;
  --standard_color: #1aa135;
}

img {
  max-width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_wrapper {
  display: grid;
  grid-template-areas:
    'header header'
    'nav main';
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 52px 70vh;
  grid-gap: 20px;
  width: 1000px;
}

.main {
  grid-area: main;
  /* background-color: var(--standard_color); */
}

ul > li > a {
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 1100px) {
  .app_wrapper {
    width: 100%;
    margin: 0;
    grid-template-areas:
      'header header'
      'nav nav'
      'main main';
    grid-template-rows: 52px 1fr;
  }
}
